<div class="card" *ngIf="product">
  <div class="card-header bg-primary text-white">
    {{ product.description }}
  </div>
  <div class="card-block p-3 text-center">
    <img [src]="product.imageUrl" alt="" />
    <div>Price: {{ product.price | currency: "EUR":"symbol" }}</div>
    <div>Available since: {{ product.available | date: "dd/MM/y" }}</div>
    <div>
      <star-rating
        [rating]="product.rating"
        (ratingChanged)="changeRating($event)"
      ></star-rating>
    </div>
    <div>
      <button type="button" class="btn btn-danger" (click)="goBack()">
        Volver
      </button>
    </div>
  </div>
</div>
