<evento-add (added)="addEvento($event)"></evento-add>

<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderDate()">Orden por fecha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderPrice()">Orden por precio</a>
    </li>
  </ul>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="text"
      [(ngModel)]="search"
      name="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</nav>
<div
  class="card-columns mt-4"
  *ngIf="eventos && eventos.length; else noEventos"
>
  <evento-item
    class="card"
    [evento]="evento"
    (deleted)="deleteEvento(evento)"
    *ngFor="let evento of eventos | eventosFilter: search"
  >
  </evento-item>
</div>
<ng-template #noEventos>
  <h3>No hay eventos disponibles</h3>
</ng-template>
